# BEGIN SABLELINUX LHC TEST KERNEL 6.16.1-sable-lhc-test1
menuentry 'SableLinux LHC test kernel 6.16.1-sable-lhc-test1' --class gnu-linux --class gnu --class os --id 'sablelinux-lhc-test1' {
    insmod part_gpt
    insmod ext2
    search --no-floppy --fs-uuid --set=root 13816e16-93ea-4e55-9b82-cfbb7946b7a0
    echo 'Loading Linux 6.16.1-sable-lhc-test1 ...'
    linux /vmlinuz-6.16.1-sable-lhc-test1 root=UUID=70148917-ed5a-466c-b71b-444596ca684a ro  
    echo 'Loading initial ramdisk for 6.16.1-sable-lhc-test1 ...'
    initrd /initramfs-6.16.1-sable-lhc-test1.img
}
# END SABLELINUX LHC TEST KERNEL 6.16.1-sable-lhc-test1
